body {
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);
    font-family: Arial;
    text-align: center;
}

.container {
    background: white;
    padding: 30px;
    margin: 100px auto;
    width: 300px;
    border-radius: 20px;
}
